@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  scroll-margin-top: 52px;
}

html {
  scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
  }